<table>
    <thead>
    <tr><th>First name</th><th>Last name</th><th>Team name</th></tr>
    </thead>
    <tbody data-bind="foreach: players">
    <tr>
        <td data-bind="text: firstName"></td>
        <td data-bind="text: lastName"></td>
        <td data-bind="text: teamName, event: { mouseover: $parent.getTeamDetails.bind($data) }"></td>
        <!--<td data-bind="text: teamName, event: { mouseover: $parent.getTeamDetails.bind($data), mouseout: $parent.mousedOutTeam }"></td>-->
        <!--<td data-bind="text: teamName, event: { click: $parent.getTeamDetails(teamName) }"></td>-->
        <td><button data-bind="click: $parent.playerDelete.bind($data)">Delete</button></td>
    </tr>

    </tbody>
    <tr>
        <td><input type="text" data-bind="value: inputFirstName"></td>
        <td><input type="text" data-bind="value: inputLastName"></td>
        <td><select data-bind="options: teams,
                               optionsText: 'teamName',
                               value: selectedTeam"></select></td>
        <td><button data-bind="click: playerInsert">Insert</button></td>
    </tr>
</table>

<!--todo Knockout DEBUG markup-->
<div style="border: white dotted thin; clear: both">
    <h4>Debug JSON</h4>
    <pre data-bind="text: koUtils.debugInfo(selectedTeam())"></pre>
</div>


<div data-bind="visible: mousedOverTeamName()">
    <table>
        <thead>
        <tr><th data-bind="text: mousedOverTeamNameTitle"></th></tr>
        </thead>
        <tbody data-bind="foreach: mousedOverTeamPlayers">
        <tr>
            <td><span data-bind="text: $parent.getPlayerFullName($data);"></span></td>
        </tr>
        </tbody>

    </table>
</div>