<!-- ko if: reloadData(false) -->
<!-- /ko -->

<table>
    <thead>
    <tr><th>Team name</th></tr>
    </thead>
    <tbody class="fn-teams" data-bind="foreach: teams">
    <tr>
        <td data-bind="text: teamName"></td>
        <td><button class="fn-teamdel">Delete</button></td>
    </tr>
    </tbody>
    <tr>
        <td><input type="text" data-bind="value: inputTeamName"></td>

        <td><button data-bind="click: teamInsert">Insert</button></td>
    </tr>
</table>
<div data-bind="dxButton: dxButtonOptions"></div>
<!--<div data-bind="dxButton: {text: isDirty }"></div>-->
<!--<button data-bind="text: isDirtyState"></button>-->